<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OSS_Final</title>
    </head>
    <body>
        <h3>OSS_Midterm</h3>
        <h3>84_32204409_조효림</h3>
        <header id="header">
            <h1>ABOUT ME</h1>
        </header>
        <header id="header">
            <h1>SCHEDULE</h1>
        </header>
        <div id="con2">
            <table>
                <tr>
                    <td>MONDAY</td> <td>TUESDAY</td> <td>WEDNESDAY</td> <td>TUESDAY</td> <td>FRIDAY</td>
                </tr>
                <tr>
                    <td>09:30<br>데이터마이닝 강의<br>14:00<br>데이터마이닝 스터디</td>
                    <td>09:00<br>금융공학 강의<br>13:00<br>단러닝 모임<br>18:00<br>탁구 동아리</td>
                    <td>09:00<br>데이터마이닝 강의</td>
                    <td>13:30<br>금융공학 강의<br>18:00<br>탁구 동아리</td>
                    <td> </td>
                </tr>
            </table>
        </div>

    </body>
</html>